@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");

:root{
    --cor-de-fundo: rgb(221, 245, 8);
    --cor-do-cabecalho: rgb(14, 13, 13);
    --cor-do-menu:#525250da;
}
body{background-color: var(--cor-de-fundo);}