@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");

:root{
    --cor-de-fundo: rgb(19, 15, 15);
    --cor-do-cabecalho: rgb(14, 13, 13);
    --cor-do-menu:#f8e42e;
}
body{background-color: var(--cor-de-fundo);}