@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");

:root{
    --cor-de-fundo: rgba(8, 3, 3, 0.808);
    --cor-do-cabecalho: rgb(255, 255, 255);
    --cor-do-menu:#f8e42e;
}
body{background-color: var(--cor-de-fundo);}